<div class="container px-5 px-sm-0">
  <div claa="row">
    <div class="col-md-3">
     <%= render "books/book",user: @user, new_book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Groups</h2>
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>