<div class="container">
  <div>
    <h3>送信が完了しました</h3>
    <p>内容は以下の通りです</p>
    <div>
      [タイトル]<p><%= @mail_title %></p>
    </div>
    <div>
      [本文]<p><%= @mail_content %></p>
    </div>
  </div>
</div>