<div class="container px-5 px-sm-0">


  <div class="row">

<!--Booksの投稿一覧-->
    <div class="col-md-8 offset-md-1">
      <h2>Books search for "<%= @word %>"</h2>
      <% if @books.present? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="2">Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <tbody>
            <%= render 'books/index', books: @books %>
          </tbody>
        </table>
      <% else %>
        <p>このタグは使われていません</p>
      <% end %>
    </div>

  </div>

</div>